@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,400;0,500;0,700;1,200;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Josefin Sans", sans-serif;
}

body {
  padding: 20px;
  min-height: 100vh;
  background: linear-gradient(
      0deg,
      #e5dee2,
      #e5dee2 20%,
      #aba2b4 60%,
      #59516e 90%,
      #59516e
    )
    no-repeat;
}

a {
  text-decoration: none;
  color: unset;
}

li {
  list-style-type: none;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}